@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Reddit+Mono:wght@200..900&display=swap');

:root{
    --background: #1e1d20;
    --background-card: #413f46;
    --primary: #007bff;
    --primary-dark: #0054ae;
    --title-font: "Pacifico", cursive;
    --text-font: "Reddit Mono", monospace;
}

/* main{
    color: white;
    background-color: var(--primary);
} */
nav{
    top: 2;
    left: 50%;
    transform: translate(-50%);
    transition: width 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.nav-auto {
    transition: width 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.nav-full {
    width: 100% !important;
    transition: width 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}
.active {
    background-color: var(--primary-dark);
}

#portfolio-title{
    font-family: var(--title-font);
    text-shadow: 5px 5px var(--primary);
}

.title-font-family{
    font-family: var(--title-font);
}

p{
    font-family: var(--text-font);
}

.custom-filter {
    filter: invert(1);
  }
