@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Reddit+Mono:wght@200..900&display=swap');

:root{
    --background: #1e1d20;
    --background-card: #413f46;
    --primary: #007bff;
    --primary-dark: #0054ae;
    --title-font: "Pacifico", cursive;
    --text-font: "Reddit Mono", monospace;
}

/* main{
    color: white;
    background-color: var(--primary);
} */
nav{
    top: 2;
    left: 50%;
    transform: translate(-50%);
    transition: width 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.nav-auto {
    transition: width 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.nav-full {
    width: 100% !important;
    transition: width 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}
.active {
    background-color: var(--primary-dark);
}

#portfolio-title{
    font-family: var(--title-font);
    text-shadow: 5px 5px var(--primary);
}

.title-font-family{
    font-family: var(--title-font);
}

p{
    font-family: var(--text-font);
}

.custom-filter {
    filter: invert(1);
}

.custom-shape-divider-bottom-1712110972 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waves {
    position:relative;
    width: 100%;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
.waves-bottom {
    position:relative;
    width: 100%;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
    transform: rotate(180deg);
}

.parallax > use {
animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
animation-delay: -2s;
animation-duration: 7s;
}
.parallax > use:nth-child(2) {
animation-delay: -3s;
animation-duration: 10s;
}
.parallax > use:nth-child(3) {
animation-delay: -4s;
animation-duration: 13s;
}
.parallax > use:nth-child(4) {
animation-delay: -5s;
animation-duration: 20s;
}
@keyframes move-forever {
0% {
    transform: translate3d(-90px,0,0);
}
100% { 
    transform: translate3d(85px,0,0);
}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
.waves {
    height:40px;
    min-height:40px;
}
}
/* styles.css */
.grid-cols-auto-fill-auto-auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)) auto repeat(auto-fill, minmax(100px, 1fr));
  }
  