.custom-shape-divider-bottom-1712110972 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1712110972 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 160px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1712110972 .shape-fill {
    fill: #007BFF;
}